<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">
    <link rel="icon" href="assets/images/iconLogo.png">
    <!-- Title Page-->
    <title>Earnings</title>

    <!-- Fontfaces CSS-->
    <link href="css/font-face.css" rel="stylesheet" media="all">
    <link href="assets/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="assets/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- assets/vendor CSS-->
    <link href="assets/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="assets/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="assets/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="assets/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="assets/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="assets/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="assets/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="assets/css/theme.css" rel="stylesheet" media="all">
    <link href="assets/css/template.css" rel="stylesheet" media="all">


</head>

<body class="animsition">
    <div class="modal_cont">
        <div class="inn animated slideInLeft">
            <div class="head">
                <img src="assets/images/logo.jpeg" alt="">
                <div class="cancel"><i class="fas fa-times"></i></div>
            </div>
            <ul>
                <li>
                    <a href="dashboard.html">
                        <i class="far fa-chart-bar"></i>Campaigns</a>
                </li>
                <li  class="active">
                    <a href="earnings.html">
                        <i class="fas fa-dollar-sign"></i></i>Earnings</a>
                </li>
                <li>
                    <a href="referral.html">
                        <i class="far fa-user"></i></i>Referrals</a>
                </li>
                <li>
                    <a href="settings.html">
                        <i class="fas fa-cog"></i></i>Settings</a>
                </li>
            </ul>
            <div class="profile">
                <div class="pic">
                    <div class="picture">

                    </div>
                    <h2>John H. Yemi</h2>
                    <button>View profile</button>
                </div>
                <div class="level">
                    <h3>Gold Level</h3>
                </div>
            </div>
        </div>
    </div>

<div class="nofication-modal animated slideInRight">
    <header class="header-mobile d-block d-lg-none">
        <div class="header-mobile__bar">
            <div class="container-fluid" style="padding-left: 0;">
                <div class="header-mobile-inner">
                    <i class="fas fa-times"></i>
                    <h2 style="font-size:20px;font-weight: 700;">Notifications</h2>
                    <i class="fas fa-bell"><span></span></i>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="text">
                    <h3>2020 Summer Campaign</h3>
                    <p>You have not completed this campaign.</p>
                </div>
                <div class="text">
                    <h3>New Campaign Request</h3>
                    <p>You have been requested to join the "2020 Gucci Drip Campaign"</p>
                </div>
                <div class="text">
                    <h3>Payment</h3>
                    <p>Your payment for the "Pepsi made for more campaign" has been made.</p>
                </div>
                <div class="text">
                    <h3>Campaign</h3>
                    <p>Your payment for the "Pepsi made for more campaign" has been made.</p>
                </div>
                <div class="text">
                    <h3>2020 Summer Campaign</h3>
                    <p>You have not completed this campaign.</p>
                </div>
                <div class="text">
                    <h3>2020 Summer Campaign</h3>
                    <p>You have not completed this campaign.</p>
                </div>
                <div class="text">
                    <h3>2020 Summer Campaign</h3>
                    <p>You have not completed this campaign.</p>
                </div>
                <div class="text">
                    <h3>2020 Summer Campaign</h3>
                    <p>You have not completed this campaign.</p>
                </div>
            </div>
        </div>
    </div>
</div>

    <!--Verification of instagram handle-->
    <div class="modal fade" id="verifyInstagram">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <img src="assets/images/insta-icon.png" alt="">
                    <h4 class="modal-title" style="font-weight: 700;">Verify your Instagram account</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p>1. Enter you Instagram handle to generate your verification Code</p>
                        </div>
                        <div class="col-md-8">
                            <input type="text" placeholder="@toby_tagg">
                        </div>
                        <div class="col-md-4">
                            <button>Get code</button>
                        </div>
                        <div class="col-md-12">
                            <p>2. Copy and send the code you generated to our DMs <span>@influencedbyus</span> on
                                Instagram.</p>
                            <p class="warning">Please ensure that you're following us first</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Change Passwaord Modal -->
    <div class="modal fade" id="addBank">
        <div class="modal-dialog" style="width:40%">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <img src="assets/images/logo.jpeg" alt="">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <h2>Add bank Account</h2>
                    <p>Earnings are paid into your account</p>
                    <div class="row">
                        <div class="col-md-12">
                            <form action="">
                                <div class="row">
                                    <div class="col-md-12 text-input">
                                        <input v-model="name" type="text" class="form-control" id="validationCustom04"
                                            placeholder="Enter Account Name">
                                        <p class="required">This field is required </p>
                                    </div>
                                    <div class="col-md-12 text-input">
                                        <input v-model="number" type="number" class="form-control"
                                            id="validationCustom04" placeholder="Enter Account Number">
                                        <p class="required">! invalid NUBAN account number</p>
                                    </div>
                                    <div class="col-md-12 text-input">
                                        <select name="" id="bank_selected">
                                            <option value="1" selected>Select Bank</option>
                                        </select>
                                        <p class="required">This field is required!</p>
                                    </div>
                                    <div class="col-md-12 code">
                                        <a href="#addPassword" data-toggle="modal" data-dismiss="modal"><button>Add
                                                Bank</button></a>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteAccount">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" style="font-weight: 700;">Remove Bank Account</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    <p class="warning">
                        You would not be able to join campaigns if you do so.</p>
                    <p>Are you sure you want to unlink your bank account from InfluencedbyUS?
                        .</p>

                    <button class="no" data-dismiss="modal">Yes</button>
                    <a href="earnings.html"><button type="button" class="yes" data-dismiss="modal">No</button></a>

                </div>


            </div>
        </div>
    </div>

    <div class="modal fade" id="changeAccount">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" style="font-weight: 700;">Change Bank Account</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p class="warning">
                        Future payments would be to your new account.</p>
                    <p>Are you sure you want to change your bank account linked to InfluencedbyUS </p>


                    <button type="button" class="no" data-dismiss="modal">Yes</button>
                    <a href="earnings.html"><button type="button" class="yes" data-dismiss="modal">No</button></a>
                </div>


            </div>
        </div>
    </div>

    <div class="modal fade" id="addPassword">
        <div class="modal-dialog" style="width:40%">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <img src="assets/images/logo.jpeg" alt="">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <h2>Enter your Password</h2>
                    <p>Enter your password to confirm.</p>
                    <div class="row">
                        <div class="col-md-12">
                            <form action="">
                                <div class="row">
                                    <div class="col-md-12 input-field">
                                        <input type="text" placeholder="Enter your InfluencedbyUS password">

                                    </div>
                                    <div class="col-md-12">
                                        <button class="dismiss" data-dismiss="modal"
                                            style="width:100%;margin-top: 10px;">Done</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="mobile-view">
        
    <header class="header-mobile d-block d-lg-none">
        <div class="header-mobile__bar">
            <div class="container-fluid" style="padding-left: 0;">
                <div class="header-mobile-inner">
                    <button class="hamburger hamburger--slider" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                    <h2 style="font-size:20px;font-weight: 700;">Earnings</h2>
                    <i class="fas fa-bell"></i>
                </div>
            </div>
        </div>
    </header>
    <div class="success">
        <i class="fas fa-exclamation-circle"></i>
        <p>Bank account added successfully</p>
        <i class="fas fa-times"></i>
    </div>
        <div class="container-fluid earnings">
            <h2>EARNINGS</h2>
            <div class="row earnings-row">
                <div class="col-md-12">
                    <div class="earn amount_per_refer">
                        <p>Amount per referral</p>
                        <h2>₦25,000</h2>
                    </div>
                    <div class="earn campaign_completed">
                        <p>Campaigns completed</p>
                        <h2>5</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid performance">
            <h2>PERFORMANCE</h2>
            <div class="row earnings-row">
                <div class="col-md-12">
                    <div class="earn amount_per_refer">
                        <p>Influencer Score</p>
                        <h2>3.2</h2>
                    </div>
                    <div class="earn campaign_completed">
                        <p>Influencer Level</p>
                        <h2 style="color:rgba(206, 175, 22, 0.6)">Gold</h2>
                    </div>
                    <div class="earn campaign_completed">
                        <p>Campaign Fee</p>
                        <h2>₦2,500</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid add">
            <h2>CONNECT YOUR BANK ACCOUNT</h2>
            <div class="row">
                <div class="col-md-12 card_add">
                    <div class="add-card" data-toggle="modal" data-target="#addBank">
                        <i class="fas fa-plus"></i>
                    </div>
                </div>
                <div class="col-md-12 card-added">
                    <div class="added-card">  
                        <div class="text">
                            <h2>John Obianaju</h2>
                            <div class="circle">
                                <div class="first"></div>
                                <div class="second"></div>
                            </div>
                        </div>
                        <div class="bottom-text">
                            <h4>0735336748</h4>
                            <p>Access Bank plc</p>
                        </div>
                        
                    </div>
                    <div class="delete">
                        <button class="change" data-toggle="modal"
                            data-target="#changeAccount">Change</button>
                        <button class="delet" data-toggle="modal"
                            data-target="#deleteAccount">Delete </button>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="desktop-view">
        <div class="page-wrapper">
            <!-- HEADER MOBILE-->
           
            <!-- END HEADER MOBILE-->
            <!-- MENU SIDEBAR-->
            <aside class="menu-sidebar d-none d-lg-block">
                <div class="logo">
                    <a href="#">
                        <img src="assets/images/logo.jpeg" alt="Cool Admin" />
                    </a>
                </div>
                <div class="menu-sidebar__content js-scrollbar1">

                    <nav class="navbar-sidebar">
                        <ul class="list-unstyled navbar__list">
                            <li class="has-sub">
                                <a class="" href="dashboard.html">
                                    <i class="far fa-chart-bar"></i>Campaigns</a>
                            </li>
                            <li class="active">
                                <a href="earnings.html">
                                    <i class="fas fa-dollar-sign"></i></i>Earnings</a>
                            </li>
                            <li>
                                <a href="referral.html">
                                    <i class="far fa-user"></i></i>Referrals</a>
                            </li>
                            <li>
                                <a href="settings.html">
                                    <i class="fas fa-cog"></i></i>Settings</a>
                            </li>

                        </ul>
                    </nav>
                    <div class="profile">
                        <div class="pic">
                            <div class="picture">

                            </div>
                            <h2>John H. Yemi</h2>
                            <button>View profile</button>
                        </div>
                        <div class="level">
                            <h3>Gold Level</h3>
                        </div>
                    </div>
                </div>
            </aside>
            <!-- END MENU SIDEBAR-->

            <!-- PAGE CONTAINER-->
            <div class="page-container">
                <!-- HEADER DESKTOP-->
                <header class="header-desktop other-head">
                    <div class="section__content section__content--p30">
                        <div class="container-fluid">
                            <div class="header-wrap">
                                <form class="form-header" action="" method="POST">
                                    <h2 style="font-weight: 500;">Earnings</h2>
                                </form>
                                <div class="header-button">
                                    <div class="noti-wrap" style="margin-left:30px !important;">

                                        <div class="noti__item js-item-menu" style="margin-left:30px !important;">
                                            <i class="zmdi zmdi-notifications"></i>
                                            <span class="quantity">3</span>
                                            <div class="notifi-dropdown js-dropdown">
                                                <div class="notifi__title">
                                                    <p>You have 3 Notifications</p>
                                                </div>
                                                <div class="notifi__item">
                                                    <div class="bg-c1 img-cir img-40">
                                                        <i class="zmdi zmdi-email-open"></i>
                                                    </div>
                                                    <div class="content">
                                                        <p>You got a email notification</p>
                                                        <span class="date">April 12, 2018 06:50</span>
                                                    </div>
                                                </div>
                                                <div class="notifi__item">
                                                    <div class="bg-c2 img-cir img-40">
                                                        <i class="zmdi zmdi-account-box"></i>
                                                    </div>
                                                    <div class="content">
                                                        <p>Your account has been blocked</p>
                                                        <span class="date">April 12, 2018 06:50</span>
                                                    </div>
                                                </div>
                                                <div class="notifi__item">
                                                    <div class="bg-c3 img-cir img-40">
                                                        <i class="zmdi zmdi-file-text"></i>
                                                    </div>
                                                    <div class="content">
                                                        <p>You got a new file</p>
                                                        <span class="date">April 12, 2018 06:50</span>
                                                    </div>
                                                </div>
                                                <div class="notifi__footer">
                                                    <a href="#">All notifications</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="account-wrap">
                                        <div class="account-item clearfix js-item-menu">
                                            <div class="social-media" data-toggle="modal" data-target="#verifyInstagram"
                                                style="background-image: url(assets/images/insto.webp);">

                                            </div>
                                            <div class="social-media" title="Add facebook account"
                                                style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(assets/images/face.png);">

                                            </div>
                                            <div class="social-media" title="Add twitter account"
                                                style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(assets/images/twi.png);">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- HEADER DESKTOP-->

                <!-- MAIN CONTENT-->
                <div class="main-content">
                    <div class="section__content section__content--p30">
                        <div class="container-fluid user-earnings">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="earnings">
                                        <div class="head">
                                            <h1>Earnings</h1>
                                        </div>
                                        <div class="bod-earning">
                                            <div class="amount">
                                                <p>Amount Earned</p>
                                                <h1>&#8358;25,000</h1>
                                            </div>
                                            <div class="amount comp">
                                                <p>Campaigns Completed</p>
                                                <h1>5</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="categorization earnings">
                                        <div class="head">
                                            <h1>Perfomance</h1>
                                        </div>
                                        <div class="bod-earning">
                                            <div class="amount">
                                                <p>Influencer Score</p>
                                                <h1>3.5</h1>
                                            </div>
                                            <div class="amount">
                                                <p>Influencer Level</p>
                                                <h1 style="color:rgba(206, 175, 22, 0.5);">Gold</h1>
                                            </div>
                                            <div class="amount">
                                                <p>Campaign Fee</p>
                                                <h1>&#8358;2500</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 card_add">
                                    <div class="earnings">
                                        <div class="head">
                                            <h1 style="color:rgba(159, 159, 159, 1);">Change your Bank Account</h1>
                                        </div>
                                        <div class="add_card" data-toggle="modal" data-target="#addBank">
                                            <img src="assets/images/add.png" alt="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-5 card-added">
                                    <div class="earnings">
                                        <div class="head">
                                            <h1 style="color:rgba(159, 159, 159, 1);">Change your Bank Account</h1>
                                        </div>
                                        <div class="added_card">
                                            <div class="circle">
                                                <div class="first"></div>
                                                <div class="second"></div>
                                            </div>
                                            <div class="text">
                                                <h2>John Obianaju</h2>
                                                <div class="bottom-text">
                                                    <h4>Access Bank plc</h4>
                                                    <p>0735336748</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="delete">
                                            <button class="change" data-toggle="modal"
                                                data-target="#changeAccount">Change</button>
                                            <button class="delet" data-toggle="modal"
                                                data-target="#deleteAccount">Delete </button>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- END MAIN CONTENT-->
                <!-- END PAGE CONTAINER-->
            </div>
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="assets/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="assets/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="assets/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- assets/vendor JS       -->
    <script src="assets/vendor/slick/slick.min.js">
    </script>
    <script src="assets/vendor/wow/wow.min.js"></script>
    <script src="assets/vendor/animsition/animsition.min.js"></script>
    <script src="assets/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="assets/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="https://kit.fontawesome.com/799b643291.js" crossorigin="anonymous"></script>
    <script src="assets/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="assets/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="assets/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="assets/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="assets/vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/script.js"></script>

</body>

</html>
<!-- end document-->